<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= l @event.start_date, format: :date_format %>
</p>

<p>
  <strong>End date:</strong>
  <%= l @event.end_date, format: :date_format %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Agenda:</strong>
  <%= @event.agenda %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Organized By:</strong><br>
  <%= @event_owners.email %><br>
  <%= image_tag avatar_url(@event_owners) %>
</p>

<p>
  <strong>Tags:</strong>
  <% @event.all_tags.split(", ").map do |t| %>
    <%= link_to t, tag_path(t) %>
    <%= " | " %>
  <%end%>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<hr>
<%= link_to "Join", event_join_path(event_id: @event.id) %>


<% if user_signed_in? && @event.user_id == current_user.id%>
  <label>Join Requests</label>
    <% if Event.pending_requests(@event.id).present? %>
      <% Event.pending_requests(@event.id).each do |p|%>
        <%= image_tag avatar_url(p.user) %>
        <%= p.user.email%>
        <%= link_to 'Accept', event_accept_request_path(event_id: @event.id, attendance_id: p.id) %>
        <%= link_to 'Reject', event_reject_request_path(event_id: @event.id, attendance_id: p.id) %>
        </br>
      <%end%>
    <%else%>
      <p>No Pending Requests for this event</p>
  <%end%>
<%end%>
