<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= l @event.start_date, format: :date_format %>
</p>

<p>
  <strong>End date:</strong>
  <%= l @event.end_date, format: :date_format %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Agenda:</strong>
  <%= @event.agenda %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Organized By:</strong><br>
  <%= @event_owners.email %><br>
  <%= image_tag avatar_url(@event_owners) %>
</p>

<p>
  <strong>Tags:</strong>
  <% @event.all_tags.split(", ").map do |t| %>
    <%= link_to t, tag_path(t) %>
    <%= " | " %>
  <%end%>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
